.above-the-fold{
    position: relative;
    z-index: -3;
    &__bg{
        height: 768px;
        width: 98%;
        background-color: $white;
        position: absolute;
        top: -216px;
        right: 0;
        z-index: -2;
    }
    &__main{
        margin-top: 40px;
        .main__button{
            float: right;
            @include for-size(md){
                margin-top: 20px;
                float: left;
            }
        }
        @include for-size(md){
            padding: 0 32px;
            margin-top: 20px;
        }
    }
}