.above-the-fold{
    position: relative;
    z-index: -3;
    padding-bottom: 60px;
    &__bg{
        height: 100%;
        width: 98%;
        background-color: $white;
        position: absolute;
        top: -216px;
        right: 0;
        z-index: -2;
    }
    &__main{
        margin-top: 40px;
        .main{
            &__text{
                color: $dark-blue;
            }
            &__button{
                float: right;
                @include for-size(md){
                    margin-top: 20px;
                    float: left;
                }
            }
        }
        @include for-size(md){
            padding: 0 32px;
            margin-top: 20px;
        }
    }
    &__image{
        margin-top: 80px;
        max-height: 565px;
        display: flex;
        justify-content: flex-end;
        img{
            width: 95%;
            float: right;
        }
    }
}