.founders{
    padding: 60px 0;
    position: relative;
    color: $white;
    z-index: -2;
    @include for-size(md){
        padding: 32px;
    }
    &__bg{
        background-color: $beige;
        position: absolute;
        top: 0;
        left: 0;
        height: 50%;
        z-index: -1;
    }
    &__container{
        .container__all-founders{
            margin-top: 60px;
            .all-founders__founder{
                height: 40vw;
                width: 90%;
                padding: 60px 0;
                margin: auto;
                background: linear-gradient(hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.36)), var(--image);
                background-size: cover;
                background-position: center;
                display: flex;
                align-items: flex-end;
                z-index: -1;
                &:last-child{
                    margin-top: 20px;
                    display: none;
                    @include for-size(md){
                        display: flex;
                    }
                }
                .founder__name:nth-child(2){
                    @include for-size(md){
                        display: none;
                    }
                }
            }
        }
    }
}