.button{
    $self: &;
    display: flex;
    align-items: center;
    &__text, &__icon{
        padding: 23px;
        @include for-size(md){
            padding: 13px;
        }
    }
    &__icon{
        display: grid;
        place-items: center;
    }
    &--primary{
        background-color: $white;
        border: 1px solid hsla(0, 0%, 77%, 1);
        border-radius: 2px;
        #{$self}__icon{
            border-left: 1px solid $mid_grey;
        }
    }
    &--secondary{
        border: none;
        border-bottom: 1px solid hsla(0, 0%, 77%, 1);
        #{$self}__text, #{$self}__icon{
            padding: 13px;
        }
    }
}