.button{
    display: flex;
    align-items: center;
    background-color: $white;
    &__text, &__icon{
        padding: 23px;
        @include for-size(md){
            padding: 13px;
        }
    }
    &__icon{
        border-left: 1px solid $mid_grey;
        display: grid;
        place-items: center;
    }
    &--primary{
        border: 1px solid hsla(0, 0%, 77%, 1);
        border-radius: 2px;
    }
}