* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f2efee;
  overflow-x: hidden;
}

@font-face {
  font-family: Inter;
  src: url("/assets/fonts/Inter-VariableFont_slnt,wght.ttf");
}

@font-face {
  font-family: Galaxie Copernicus;
  src: url("/assets/fonts/GalaxieCopernicus-Book.otf");
}

h1 {
  font-size: 64px;
  font-family: Galaxie Copernicus;
  letter-spacing: -2%;
  line-height: 1.1;
  font-weight: Book;
  margin: 0;
}

h2 {
  font-size: 44px;
  font-family: Galaxie Copernicus;
  letter-spacing: -2%;
  line-height: 1.2;
  font-weight: Book;
  margin: 0;
}

h3 {
  font-size: 32px;
  font-family: Galaxie Copernicus;
  letter-spacing: -2%;
  line-height: 1.2;
  font-weight: Book;
  margin: 0;
}

h4 {
  font-size: 24px;
  font-family: Galaxie Copernicus;
  letter-spacing: -2%;
  line-height: 1.2;
  font-weight: Book;
  margin: 0;
}

h5 {
  font-size: 24px;
  font-family: Inter;
  letter-spacing: 5%;
  line-height: 1;
  font-weight: Bold;
  margin: 0;
}

h6 {
  font-size: 14px;
  font-family: Inter;
  letter-spacing: 5%;
  line-height: 1;
  font-weight: Bold;
  margin: 0;
}

.p1 {
  font-size: 18px;
  font-family: Galaxie Copernicus;
  letter-spacing: -1%;
  line-height: 1.4;
  font-weight: Book;
  margin: 0;
}

.p2 {
  font-size: 14px;
  font-family: Inter;
  letter-spacing: 2%;
  line-height: 1.4;
  font-weight: Medium;
  margin: 0;
}

.b1 {
  font-size: 18px;
  font-family: Inter;
  letter-spacing: 2%;
  line-height: 1;
  font-weight: Bold;
  margin: 0;
}

@media (max-width: 768px) {
  h1 {
    font-size: 28px;
    font-family: Galaxie Copernicus;
    letter-spacing: -2%;
    line-height: 1.2;
    font-weight: Book;
    margin: 0;
  }
  h2 {
    font-size: 24px;
    font-family: Galaxie Copernicus;
    letter-spacing: -2%;
    line-height: 1.2;
    font-weight: Book;
    margin: 0;
  }
  h3 {
    font-size: 20px;
    font-family: Galaxie Copernicus;
    letter-spacing: -2%;
    line-height: 1.2;
    font-weight: Book;
    margin: 0;
  }
  h4 {
    font-size: 18px;
    font-family: Galaxie Copernicus;
    letter-spacing: -2%;
    line-height: 1.2;
    font-weight: Book;
    margin: 0;
  }
  h5 {
    font-size: 14px;
    font-family: Inter;
    letter-spacing: 5%;
    line-height: 1;
    font-weight: Bold;
    margin: 0;
  }
  h6 {
    font-size: 10px;
    font-family: Inter;
    letter-spacing: 5%;
    line-height: 1;
    font-weight: Bold;
    margin: 0;
  }
  .p1 {
    font-size: 14px;
    font-family: Galaxie Copernicus;
    letter-spacing: -1%;
    line-height: 1.4;
    font-weight: Book;
    margin: 0;
  }
  .p2 {
    font-size: 12px;
    font-family: Inter;
    letter-spacing: 2%;
    line-height: 1.4;
    font-weight: Medium;
    margin: 0;
  }
  .b1 {
    font-size: 14px;
    font-family: Inter;
    letter-spacing: 2%;
    line-height: 1;
    font-weight: Bold;
    margin: 0;
  }
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button__text, .button__icon {
  padding: 23px;
}

@media (max-width: 768px) {
  .button__text, .button__icon {
    padding: 13px;
  }
}

.button__icon {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.button--primary {
  background-color: white;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
}

.button--primary .button__icon {
  border-left: 1px solid #c4c4c4;
}

.button--secondary {
  border: none;
  border-bottom: 1px solid #c4c4c4;
}

.button--secondary .button__text, .button--secondary .button__icon {
  padding: 13px;
}

.header__overlay {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #74788b;
  opacity: .8;
  z-index: -2;
}

.header__social {
  padding: 22px 0;
  background-color: #f2efee;
}

.header__social > div {
  gap: 32px;
}

@media (max-width: 576px) {
  .header__social {
    padding: 20px 32px;
  }
  .header__social > div {
    gap: 20px;
  }
}

.header__nav-bar {
  padding: 65px 0;
  position: relative;
  top: 0;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.header__nav-bar--active {
  padding: 35px 32px;
  top: -68px;
  background-color: white;
}

@media (max-width: 768px) {
  .header__nav-bar--active {
    background-color: #003b94;
  }
  .header__nav-bar--active .nav-bar__logo img {
    -webkit-filter: grayscale(1) invert(1);
            filter: grayscale(1) invert(1);
  }
  .header__nav-bar--active .nav-bar__mobile .mobile__burger img {
    -webkit-filter: brightness(10);
            filter: brightness(10);
  }
}

.header__nav-bar .nav-bar__desktop .desktop__nav-items {
  gap: 58px;
}

.header__nav-bar .nav-bar__desktop .desktop__nav-items .nav-items__single-item {
  cursor: pointer;
}

.header__nav-bar .nav-bar__desktop .desktop__nav-items .nav-items__single-item .single-item__dropdown {
  position: absolute;
  top: 100px;
  left: 0px;
  opacity: 0;
  -webkit-transition: .2s all;
  transition: .2s all;
  z-index: -2;
  cursor: auto;
  overflow-x: hidden;
  pointer-events: none;
}

.header__nav-bar .nav-bar__desktop .desktop__nav-items .nav-items__single-item--active .single-item__text {
  color: #003b94;
}

.header__nav-bar .nav-bar__desktop .desktop__nav-items .nav-items__single-item--active .single-item__dropdown {
  opacity: 1;
  padding: 30px;
  top: 116px;
  border-top: 1px solid #c4c4c4;
  background-color: white;
  z-index: 0;
  pointer-events: auto;
}

.header__nav-bar .nav-bar__desktop .desktop__nav-items .nav-items__single-item--active .single-item__dropdown .dropdown__item {
  padding: 30px 0;
  position: relative;
}

.header__nav-bar .nav-bar__desktop .desktop__nav-items .nav-items__single-item--active .single-item__dropdown .dropdown__item > h3 {
  color: #003b94;
}

.header__nav-bar .nav-bar__desktop .desktop__nav-items .nav-items__single-item--active .single-item__dropdown .dropdown__item:last-child::after {
  content: '';
  border-top: none;
}

.header__nav-bar .nav-bar__desktop .desktop__nav-items .nav-items__single-item--active .single-item__dropdown .dropdown__item::after {
  content: '';
  position: absolute;
  bottom: 0px;
  width: 80px;
  border-top: 1px solid #c4c4c4;
}

.header__nav-bar .nav-bar__mobile {
  display: none;
}

.header__nav-bar .nav-bar__mobile .mobile__burger {
  cursor: pointer;
}

.header__nav-bar .nav-bar__mobile .mobile__nav-items {
  position: absolute;
  top: 100px;
  left: 0;
  background-color: #003b94;
  width: 100%;
  height: 100vh;
  padding: 35px 32px;
}

.header__nav-bar .nav-bar__mobile .mobile__nav-items .nav-items__single-item {
  padding: 20px 0;
  border-top: 1px solid rgba(196, 196, 196, 0.1);
}

.header__nav-bar .nav-bar__mobile .mobile__nav-items .nav-items__single-item--active .single-item__text {
  opacity: .2;
}

.header__nav-bar .nav-bar__mobile .mobile__nav-items .nav-items__single-item .single-item__text {
  color: white;
}

.header__nav-bar .nav-bar__mobile .mobile__nav-items .nav-items__single-item .single-item__dropdown .dropdown__item {
  color: white;
  list-style-type: none;
  margin-top: 12px;
}

@media (max-width: 768px) {
  .header__nav-bar .nav-bar__desktop {
    display: none;
  }
  .header__nav-bar .nav-bar__mobile {
    display: block;
  }
}

@media (max-width: 992px) {
  .header__nav-bar {
    padding: 35px 32px;
  }
  .header__nav-bar .nav-bar__logo img {
    height: 32px;
  }
}

.above-the-fold {
  position: relative;
  z-index: -3;
  padding-bottom: 60px;
}

.above-the-fold__bg {
  height: 100%;
  width: 98%;
  background-color: white;
  position: absolute;
  top: -216px;
  right: 0;
  z-index: -2;
}

.above-the-fold__main {
  margin-top: 40px;
}

.above-the-fold__main .main__text {
  color: #003b94;
}

.above-the-fold__main .main__button {
  float: right;
}

@media (max-width: 768px) {
  .above-the-fold__main .main__button {
    margin-top: 20px;
    float: left;
  }
}

@media (max-width: 768px) {
  .above-the-fold__main {
    padding: 0 32px;
    margin-top: 20px;
  }
}

.above-the-fold__image {
  margin-top: 80px;
  max-height: 565px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.above-the-fold__image img {
  width: 95%;
  float: right;
}

.news {
  padding-top: 60px;
}

@media (max-width: 768px) {
  .news {
    padding: 32px;
  }
}

.news__heading {
  color: #003b94;
}

.news__layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
}

@media (max-width: 768px) {
  .news__layout {
    width: 100vw;
    overflow: scroll;
    -ms-grid-columns: (150px)[9];
        grid-template-columns: repeat(9, 150px);
  }
}

.news__layout .layout__item {
  border: 1px solid white;
  padding: 40px;
}

.news__layout .layout__item .item__heading {
  color: #003b94;
}

.news__layout .layout__item .item__image {
  height: 250px;
  background-size: cover;
}

.news__layout .layout__item .item__date {
  margin-top: 20px;
  gap: 5px;
}

.news__layout .layout__item .item__date > * {
  color: #74788b;
}

.news__layout .layout__item .item__desc {
  margin-top: 16px;
}

@media (max-width: 768px) {
  .news__layout .layout__item .item__desc {
    font-size: 20px;
    font-family: Galaxie Copernicus;
    letter-spacing: -2%;
    line-height: 1.2;
    font-weight: Book;
    margin: 0;
  }
}

.news__layout .layout__item:nth-child(1) {
  border: none;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 60px;
}

.news__layout .layout__item:nth-child(2) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
}

.news__layout .layout__item:nth-child(3) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.news__layout .layout__item:nth-child(4) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
}

.news__layout .layout__item:nth-child(5) {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
}

.news__layout .layout__item:nth-child(6) {
  border: none;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

@media (max-width: 768px) {
  .news__layout .layout__item:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    position: -webkit-sticky;
    position: sticky;
    left: 0;
  }
  .news__layout .layout__item:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }
  .news__layout .layout__item:nth-child(3) {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }
  .news__layout .layout__item:nth-child(4) {
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-column: 5/7;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }
  .news__layout .layout__item:nth-child(5) {
    -ms-grid-column: 7;
    -ms-grid-column-span: 2;
    grid-column: 7/9;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }
  .news__layout .layout__item:nth-child(6) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    position: -webkit-sticky;
    position: sticky;
    left: 0;
  }
}
/*# sourceMappingURL=global.css.map */